*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}

:root{      
    --main-color:#bc9667;
    --secondary-color:#edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    --box-shadow: 2px 2px 10px 14px rgb(14 55 54 / 15%);


/* we can use this type class and we can store elements are variable type */
}
section{
    padding: 50px 100px;
}

img{
    width: 100%;

}

body{
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 18px 100px;
    background: var(--text-color);
    transition: 0.5s linear;
}

.logo img{
    width: 60px;
}

.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background-color: var(--main-color);
    border-radius: 0.2rem;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;   
}

.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .bx{
    color: var(--bg-color);
}

#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;  /*icon eka lagta giyama athak wage penna gannawa */
    display: none; /*dextop viwe ekedi menu icon eka penna one nane.mobile view ekedi witarak pewunama ati */
}

.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
}
.search-box.active{
    top: 110%;
    box-shadow: var(--box-shadow);
    transition-property: top;
    transition-duration: 0.25s;
    transition-timing-function: linear;  /*transition eka ekama speed eken wenna use karanwa */

    
}
.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: url(logo/bg.png);
    background-repeat: no-repeat; /* aye aye bg img eka repeate wena eka nawattanawa */
    background-size: cover; /*bg img eka main img ekata waada podi nm eke size ektama mekath hadenwa*/
    background-position: center;
    display: grid;          /*main image eki ekata eha patte tiyena text tikai ekama photo eke depattata karanna meka use karanwa.metandi section dekak wage depattata hadenwa */
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));/* grid-template-columns: 1fr 1fr; mekai dila tiyena ekiai samanai*/
    align-items: center;
    gap: 1.5rem;
}
.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.home-text p{
    font-size: 0.938rem;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;
}
.btn{/*meka shop now kiyana anchor tag ekta dila tiyena class eka  */
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}
.btn:hover{/*hover ekedi wenne lagata mouse eka aran giyama pata wens wena eka */
    background: #8a6f4d;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 1.5rem;
}
/* about tag eka asse tiyena about img eka design karanna ynne  */
.about-img img{
    border-radius: 1.8rem;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    margin: 2rem;
    
}
.product-container .box{
    position: relative;
    /*border: 1px solid black;    padding eka balnna witari dagatte*/ 
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.product-container img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}
.product-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem;
}
.product-container .box .content{
    display: flex; /*flex dunnama 7500 , add to cart kiyana dekama ekma line ekkta enwa*/
    align-items: center;
    justify-content: space-around;/*metandi space arround dunnama 7500,add to cart wateta ida kotasak hadagnnwa. Sapce-between dunnoth denna depatte konata wenwa.Terumenma terum ganna.*/
}
.product-container .box .content span{ /*metanadi class godak atule liynne ewage atule tiyenwa kiyanna.hariyta adress ekak wage.mehma karama hama span tag ektama balpanne na.*/
    /*border: 1px solid black;  ona nm padding eka balagnna border eka use karanna puluwn*/
    padding: 0 1rem; /* 0=udin ha yatin - 1rem=wamen ha dakunen*/
    color: var(--bg-color);
    background-color: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
}
.product-container .box .content a{
    border: 1px solid var(--main-color);
    padding: 0 1rem;
    color: var(--text-color);
    border-radius: 4px;  /*meka 50%k dammoth ehma sampurna rawumak wenawa*/
    text-transform: uppercase;
}
.product-container .box .content a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    transition-property: background-color; /*transition eka wenna one moketada.Duration kiyanne kochchra kalayk wenna onida kiyana eka.transition-timing function kiyanne patan gnna widiyayi awasana wena widiyayi kohomada wenna one kiyana eka.linera nm ekama wegen.*/
    transition-duration: 1s;
    transition-timing-function: linear;
    /*transition: 1s background-color liner; mehema dila uda okkoma eka line eken karagnna puluwn*/
}

/* Customer section */
.custormers-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*metandi ekak 2fr dunnoth ehema anik dennata yana ida wage degunayk eyta wen weenwa.fr kiyala kiyanne minumaak wage*/
    gap: 1.5rem;
    margin-top: 2rem;

}
.custormers-container .box{
    /* border: 1px solid black;        border eka mulinma dagena passe remove karamu.eka lesi.etoota margin ehma enna ona widiya hitagnna puluwn */
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
    
}
.custormers-container .box p{
    font-size: 0.938rem;
}
.custormers-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0.5rem;
}
.custormers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%; /*sampurna rawumak ganna one hinda tama border radius eka 50% denne*/
    object-fit: cover;   /*photo eka lassanata adjest karagnna meka dnne*/
}
.custormers-container .box .stars .bx{
    color: var(--main-color);
}
.custormers-container .box:hover{
    transition-timing-function: linear;            
    background-color: var(--secondary-color);   /*box ekkata wage hover eka deddi button ekkata wage okkoma ona na.tibbath kmk na.yatin comment ekak widiyta dala tiyenne aniwaryen on nati hinda*/
    transition-property: var(--secondary-color);
    transition-duration: 1s;          
    transform: scale(110%);   /*mouse eka lagata aran giyama tikak issila penna meka damu*/
    
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    background-color: var(--secondary-color);
}
.footer-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom:10px ;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 0.2rem;
}
.social a .bx:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color: blue;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.copyright{
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
}
@keyframes hero{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}
.home-img img{
    animation-name: hero;
    animation-duration: 5s;
    animation-iteration-count: infinite; /*kochchra animation wara ganak wenna onida kiyana eka*/
    animation-timing-function: linear;
}

@media(max-width:1058px){
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
}
@media(max-width:991px){
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }
}
@media(max-width:768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial; /*menu icon eka pennanna meka dila thiyenne*/
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0%;
        right: 0%;
        display: flex;
        flex-direction: column;
        background: var(--secondary-color);
        row-gap: 1.4rem;
        border: 1px solid black;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }
    .navbar a{
        color: var(--text-color);

    }
    .navbar a:hover{
        color: var(--bg-color);

    }
    .navbar.active{
        top: 100%;
    }
    .about{
        align-items: center;
    }
}
@media(max-width:360px){
    header{
        padding: 11px 4%;
    }
    .logo img{
        width: 45px;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .about-img{
        order: 2;    /*about img eka passe enna meka dila thiyenne*/
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
    .heading h2{
        font-size: 1.2rem;
    }

}